/* الكل Dashboard */
.dashboard {
  display: flex;         /* مهمة جدا عشان Flexbox يشتغل */
  height: 100vh;         /* يملى طول الصفحة */
}

/* Sidebar ناحية الشمال */
.sidebar {
  width: 250px;           /* حجم ثابت للجانب */
  background-color: #f0f0f0; /* لون خفيف */
  padding: 20px;
}

/* Content Area يمين */
.content {
  flex: 1;                /* ياخد باقي المساحة */
  background-color: #fff;
  padding: 20px;
}
